body {
    background: #0C203C;
    margin: 0;
}


.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #0C2032;
    padding: 1rem;

}

.header-left {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.header-right {
    padding-right: 1rem;
}

.site-nav-list-links {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    gap: 1rem;

}

.site-nav-list-links a {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-decoration: none;
}

.site-header-image {
    max-width: 6rem;
}


.site-nav-list-login {
    list-style: none;
    display: flex;
}

.site-nav-list-login a {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: white;
    text-decoration: none;
    gap: 0.2rem;
}

.index-main {
    display: flex;
    flex-direction: column;
}

.index-main h1 {
    align-self: center;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

.index-main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
}

.trending {
    position: relative;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;

}

.trending-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.trending-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(10, 30, 80, 0.85) 80% );


}

.trending-image-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.trending:hover .trending-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(41, 61, 93, 0.85) 80%);

}

.trending-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending-container h2 {
    font-family: "Open Sans", sans-serif;
    color: white;

}


.middle-main-content {
    display: flex;
    flex-direction: column;

}

.middle-main-content h2 {
    font-family: "Open Sans", sans-serif;
    color: white;
}

.form {
    align-self: center;
    display: flex;
    flex-direction: row-reverse;
    background: #77808C;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.form input{
    font-family: "Open Sans", sans-serif;
    width: 25rem;
    height: 3rem;
    background: none;
    border: none;
    color: white;

}

.form input::placeholder {
    color: white;
    font-family: "Open Sans", sans-serif;
}

.form button {
    background: none;
    border: none;
    cursor: pointer;
}


.new-programs-container {
    display: flex;
    gap: 3rem;
}

.new-program {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;

}

.new-program-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.new-program-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(10, 30, 80, 0.85) 80% );
}

.new-program-image-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.new-program:hover .new-program-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(41, 61, 93, 0.85) 80%);

}

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0C2032;
}

.main-footer h3, a, a:visited{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 16px;
}



.search-results-main {
    display: flex;
    flex-direction: column;



}

.search-results-main h1 {
    align-self: center;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

.result {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;

}

.result-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.result-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(10, 30, 80, 0.85) 80% );
}

.result-image-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.result:hover .result-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(41, 61, 93, 0.85) 80%);

}



.search-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;
    gap: 2rem;
}
